* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* HEADER AND HAMBURGER MENU */
.nav-branding img {
    width: 60px;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.navbar {
    background-color: #b77960;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    /* to make the navbar always visible */
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    font-weight: 600;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #80412d;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;

}

/* MOBILE NAV */
@media (max-width: 1154px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #b77960;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f7f7f7;
    box-shadow: 0px 10px 10px 0px rgba(204,204,204,0.75);

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;


    /* DESKTOP */
    @media (min-width: 1155px) { 
        flex-direction: row-reverse;
        max-height: 585px; /* This is so that it's never bigger than the image */
    }

     /* MOBILE */
    @media (max-width: 1154px) {
        flex-direction: column;
    }
}

.hero-text {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

     /* MOBILE */
     @media (max-width: 1154px) {
        padding: 50px 0px;
        width: 100vw;
    }
}

.hero-title {
    font-size: 3rem;
    
} 

.hero-subtitle {
    font-size: 1.5rem;
    text-align: center;
}

.hero-image img {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    /* DESKTOP */
    @media (min-width: 1155px) {
        height: 100%;
    }

    /* MOBILE */
    @media (max-width: 1154px) {
        width: 100vw;
    } 
}

/* PAGE CARDS SECTION */
.topics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    margin-left: 30px;
    margin-right: 30px;

    /* DESKTOP */
    @media (min-width: 1155px) {
        flex-direction: row;
    }

    /* MOBILE */
    @media (max-width: 1154px) {
        flex-direction: column;
    } 
}

.topics-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f7f7f7;
    box-shadow: 10px 10px 10px 0px rgba(204,204,204,0.75);
    border-radius: 5px;

    margin-top: 50px;
    margin-bottom: 50px;
}

.topics-cards img {
    width: 100%;
    border-radius: 5px;
}

.topics-cards-text {
    padding: 30px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.topics-cards-text h3 {
    font-size: 40px;
}

.topics-cards-text a {
    font-weight: 500;
    font-size: 25px;

    background-color: #b77960;
    padding: 15px;
    box-shadow: 10px 10px 10px 0px rgba(204,204,204,0.75);
    border-radius: 5px;
}

/* FOOTER */
.footer {
    min-height: 70px;
    background-color: #b77960;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    text-align: center;
    font-weight: 600;
    padding: 10px;
}

/* COWBOYS.HTML, MOVIES.HTML & GAMES.HTML */

.list {
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.list h1 {
    font-size: 3rem;
    padding: 30px;
}

.list-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    box-shadow: 10px 10px 10px 0px rgba(204,204,204,0.75);
    border-radius: 5px;

    /* DESKTOP */
    @media (min-width: 1155px) {
        flex-direction: row;
    }

    /* MOBILE */
    @media (max-width: 1154px) {
        flex-direction: column;
        padding-top: 30px;
    } 
}

.list-cards img {
    height: 100%;;
    border-radius: 5px;

    /* DESKTOP */
    @media (min-width: 1155px) {
        box-shadow: 10px 0px 10px 0px rgba(204,204,204,0.75);
    }

    /* MOBILE */
    @media (max-width: 1154px) {
        box-shadow: 10px 10px 10px 0px rgba(204,204,204,0.75);
    } 

}

.list-cards-text {
    padding: 30px 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.list-cards-text h2 {
    font-size: 30px;
}

.list-cards-text a {
    font-weight: 500;
    font-size: 20px;

    background-color: #b77960;
    padding: 15px;
    box-shadow: 10px 10px 10px 0px rgba(204,204,204,0.75);
    border-radius: 5px;
}